* {
  background-origin: border-box;
  margin: 0;
  padding: 0;
}

.jumbotron {
  text-align: center;
  vertical-align: center;
  background-color: #002e5c;
  color: white;
  margin: 0 auto;
}
h1 {
  text-align: center;
  vertical-align: center;
  background-color: #003f7e;
  color: white;
  margin: 0 auto;
}

.card {
  text-align: center;
  display: block;
}

/* #searchTerm {
    text-align: center;
    display: block;
  } */

.input-group {
}
/* .col {
    background-color: #343a40;
    color: white;
  } */

button {
  background-color: #343a40;
  color: #f3efef;
  display: block;
}
